
<img src="../../img/ods_stickers.jpg">

## <center> [mlcourse.ai](https://mlcourse.ai) – открытый курс OpenDataScience по машинному обучению 

Автор материала: Юрий Кашницкий (@yorko в Slack ODS). Материал распространяется на условиях лицензии [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/). Можно использовать в любых целях (редактировать, поправлять и брать за основу), кроме коммерческих, но с обязательным упоминанием автора материала.

# <center>Домашнее задание № 1 (демо).<br> Анализ данных по доходу населения UCI Adult</center>

**В задании предлагается с помощью Pandas ответить на несколько вопросов по данным репозитория UCI [Adult](https://archive.ics.uci.edu/ml/datasets/Adult) (качать данные не надо – они уже есть в репозитории). Для отправки решений используйте [онлайн-форму](https://docs.google.com/forms/d/1xAzU-5N6oEeR4UG8G44V6XL-Kbr4WYcPBG45Kijge2Y).**

Уникальные значения признаков (больше информации по ссылке выше):
- age: continuous.
- workclass: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
- fnlwgt: continuous.
- education: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
- education-num: continuous.
- marital-status: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
- occupation: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
- relationship: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
- race: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
- sex: Female, Male.
- capital-gain: continuous.
- capital-loss: continuous.
- hours-per-week: continuous.
- native-country: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.   
- salary: >50K,<=50K

In [ ]:
import pandas as pd

In [ ]:
data = pd.read_csv("https://raw.githubusercontent.com/Yorko/mlcourse.ai/master/data/adult.data.csv")
data.head()

   age         workclass  fnlwgt  ... hours-per-week  native-country salary
0   39         State-gov   77516  ...             40   United-States  <=50K
1   50  Self-emp-not-inc   83311  ...             13   United-States  <=50K
2   38           Private  215646  ...             40   United-States  <=50K
3   53           Private  234721  ...             40   United-States  <=50K
4   28           Private  338409  ...             40            Cuba  <=50K

[5 rows x 15 columns]

**1. Сколько мужчин и женщин (признак *sex*) представлено в этом наборе данных?**

In [ ]:
print(data['sex'].value_counts())

Male      21790
Female    10771
Name: sex, dtype: int64

**2. Каков средний возраст (признак *age*) женщин?**

In [ ]:
print(data[data['sex'] == 'Female']['age'].mean())

36.85823043357163

**3. Какова доля граждан Германии (признак *native-country*)?**

In [ ]:
print(float((data['native-country'] == 'Germany').sum()) / data.shape[0])

0.0035986231354959842

**4-5. Каковы средние значения и среднеквадратичные отклонения возраста тех, кто получает более 50K в год (признак *salary*) и тех, кто получает менее 50K в год? **

In [ ]:
less = data[data['salary'] == '<=50K']
more = data[data['salary'] == '>50K']

less_mean = round(less['age'].mean())
more_mean = round(more['age'].mean())
less_std = round(less['age'].std(ddof=0))
more_std = round(more['age'].std(ddof=0))
print(("Mean age and standart deviation (less than 50K): %i +- %i years") % (less_mean, less_std))
print(("Mean age and standart deviation (more than 50K): %i +- %i years") % (more_mean, more_std))

Mean age and standart deviation (less than 50K): 37 +- 14 years
Mean age and standart deviation (more than 50K): 44 +- 11 years

**6. Правда ли, что люди, которые получают больше 50k, имеют как минимум высшее образование? (признак *education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters* или *Doctorate*)**

In [ ]:
print(data[data['salary'] == '>50K']['education'].unique())

['HS-grad' 'Masters' 'Bachelors' 'Some-college' 'Assoc-voc' 'Doctorate'
 'Prof-school' 'Assoc-acdm' '7th-8th' '12th' '10th' '11th' '9th' '5th-6th'
 '1st-4th']

**7. Выведите статистику возраста для каждой расы (признак *race*) и каждого пола. Используйте *groupby* и *describe*. Найдите таким образом максимальный возраст мужчин расы *Amer-Indian-Eskimo*.**

In [ ]:
group_data = data.groupby(['race', 'sex'])
for (race, sex), data in group_data:
  print("Race: %s, sex: %s" % (race, sex))
  print(data["age"].describe())

Race: Amer-Indian-Eskimo, sex: Female
count    119.000000
mean      37.117647
std       13.114991
min       17.000000
25%       27.000000
50%       36.000000
75%       46.000000
max       80.000000
Name: age, dtype: float64
Race: Amer-Indian-Eskimo, sex: Male
count    192.000000
mean      37.208333
std       12.049563
min       17.000000
25%       28.000000
50%       35.000000
75%       45.000000
max       82.000000
Name: age, dtype: float64
Race: Asian-Pac-Islander, sex: Female
count    346.000000
mean      35.089595
std       12.300845
min       17.000000
25%       25.000000
50%       33.000000
75%       43.750000
max       75.000000
Name: age, dtype: float64
Race: Asian-Pac-Islander, sex: Male
count    693.000000
mean      39.073593
std       12.883944
min       18.000000
25%       29.000000
50%       37.000000
75%       46.000000
max       90.000000
Name: age, dtype: float64
Race: Black, sex: Female
count    1555.000000
mean       37.854019
std        12.637197
min        17.000000
25%        28.000000
50%        37.000000
75%        46.000000
max        90.000000
Name: age, dtype: float64
Race: Black, sex: Male
count    1569.000000
mean       37.682600
std        12.882612
min        17.000000
25%        27.000000
50%        36.000000
75%        46.000000
max        90.000000
Name: age, dtype: float64
Race: Other, sex: Female
count    109.000000
mean      31.678899
std       11.631599
min       17.000000
25%       23.000000
50%       29.000000
75%       39.000000
max       74.000000
Name: age, dtype: float64
Race: Other, sex: Male
count    162.000000
mean      34.654321
std       11.355531
min       17.000000
25%       26.000000
50%       32.000000
75%       42.000000
max       77.000000
Name: age, dtype: float64
Race: White, sex: Female
count    8642.000000
mean       36.811618
std        14.329093
min        17.000000
25%        25.000000
50%        35.000000
75%        46.000000
max        90.000000
Name: age, dtype: float64
Race: White, sex: Male
count    19174.000000
mean        39.652498
std         13.436029
min         17.000000
25%         29.000000
50%         38.000000
75%         49.000000
max         90.000000
Name: age, dtype: float64

**8. Среди кого больше доля зарабатывающих много (>50K): среди женатых или холостых мужчин (признак *marital-status*)? Женатыми считаем тех, у кого *marital-status* начинается с *Married* (Married-civ-spouse, Married-spouse-absent или Married-AF-spouse), остальных считаем холостыми.**

In [ ]:
print(data[(data['sex'] == 'Male') & (data['marital-status'].isin(['Divorced', 'Never-married', 'Separated', 'Widowed'
]))
]['salary'].value_counts())

<=50K    6347
>50K      622
Name: salary, dtype: int64

In [ ]:
print(data[(data['sex'] == 'Male') & (data['marital-status'].str.startswith('Married'))
]['salary'].value_counts())

<=50K    6738
>50K     5467
Name: salary, dtype: int64

In [ ]:
data['marital-status'].value_counts()

Married-civ-spouse       12036
Never-married             4964
Divorced                  1571
Separated                  292
Married-spouse-absent      160
Widowed                    142
Married-AF-spouse            9
Name: marital-status, dtype: int64

**9. Какое максимальное число часов человек работает в неделю (признак *hours-per-week*)? Сколько людей работают такое количество часов и каков среди них процент зарабатывающих много?**

In [ ]:
print('Max hours per week:', data['hours-per-week'].max())
print('Amount of people working max hours per week:', len(data[data['hours-per-week'] == data['hours-per-week'].max()]))

perc = round(
    len(data[(data['hours-per-week'] == data['hours-per-week'].max()) & (data['salary'] == '>50K')]) / 
    len(data[data['hours-per-week'] == data['hours-per-week'].max()]), 2
) * 100
print('Percent of wealthy and hardworking: %i%%' % perc)

Max hours per week: 99
Amount of people working max hours per week: 56
Percent of wealthy and hardworking: 36%

**10. Посчитайте среднее время работы (*hours-per-week*) зарабатывающих мало и много (*salary*) для каждой страны (*native-country*).**

In [ ]:
for (country, salary), group_data in data.groupby(['native-country', 'salary']):
  print(country, salary, round(group_data['hours-per-week'].mean()))

? <=50K 41
? >50K 47
Canada <=50K 38
Canada >50K 46
China >50K 40
Columbia <=50K 40
Columbia >50K 50
Cuba <=50K 41
Cuba >50K 44
Dominican-Republic <=50K 43
Ecuador <=50K 44
Ecuador >50K 48
El-Salvador <=50K 37
El-Salvador >50K 46
England <=50K 40
England >50K 47
France <=50K 46
France >50K 53
Germany <=50K 44
Germany >50K 47
Greece <=50K 43
Greece >50K 49
Guatemala <=50K 39
Guatemala >50K 37
Honduras <=50K 37
Hong <=50K 36
Hungary <=50K 36
Hungary >50K 55
India <=50K 39
India >50K 50
Iran <=50K 41
Iran >50K 49
Ireland <=50K 39
Ireland >50K 50
Italy <=50K 41
Italy >50K 46
Jamaica <=50K 46
Jamaica >50K 50
Japan <=50K 43
Japan >50K 43
Mexico <=50K 41
Mexico >50K 47
Nicaragua <=50K 37
Nicaragua >50K 40
Outlying-US(Guam-USVI-etc) <=50K 47
Peru <=50K 32
Peru >50K 40
Philippines <=50K 55
Philippines >50K 44
Poland <=50K 41
Poland >50K 38
Portugal <=50K 44
Portugal >50K 40
Puerto-Rico <=50K 42
Puerto-Rico >50K 38
Scotland <=50K 40
Scotland >50K 50
South <=50K 40
Taiwan >50K 55
Thailand <=50K 10
United-States <=50K 41
United-States >50K 46
Vietnam <=50K 40
Yugoslavia <=50K 44
Yugoslavia >50K 51